<!-- <h1>Utilisateurs</h1>
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Ajouter un utilisateur</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%">Prénom</th>
                <th style="width: 20%">Nom</th>
                <th style="width: 20%">Email</th>
                <th style="width: 20%">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td style="white-space: nowrap">
                    <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Modifier</a>
                    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user"
                        [disabled]="user.isDeleting">
                        <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!user.isDeleting">Supprimer</span>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table> -->