<div class="bg">
    <div style="display:flex;width:100%;">
        <div class="container don">
            <form [formGroup]="myForm" #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-don">
                <h2 class="text-center">Faire un don</h2>
                <div class="row">
                    <fieldset>
                        <div class="form-group">
                            <label for="name" class="control-label">Titulaire de la carte</label>
                            <input formControlName="name" id="name" type="text" class="form-control" id="name" required
                                placeholder="Mr/Mme">
                        </div>

                        <div class="form-group row">
                            <label class="col-md-12">Numéro de la carte</label>
                            <div class="col-md-3">
                                <input formControlName="numero1" type="text" class="form-control" maxlength="4"
                                    placeholder="0000">
                            </div>
                            <div class="col-md-3">
                                <input formControlName="numero2" type="text" class="form-control" maxlength="4"
                                    placeholder="0000">
                            </div>
                            <div class="col-md-3">
                                <input formControlName="numero3" type="text" class="form-control" maxlength="4"
                                    placeholder="0000">
                            </div>
                            <div class="col-md-3">
                                <input formControlName="numero4" type="text" class="form-control" maxlength="4"
                                    placeholder="0000">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-12">Date d'expiration</label>
                            <div class="col-md-9">
                                <select class="form-control" name="cc_exp_mo" formControlName="exp_mois">
                                    <option value="01">Janvier</option>
                                    <option value="02">Février</option>
                                    <option value="03">Mars</option>
                                    <option value="04">Avril</option>
                                    <option value="05">May</option>
                                    <option value="06">Juin</option>
                                    <option value="07">Juillet</option>
                                    <option value="08">Août</option>
                                    <option value="09">Septembre</option>
                                    <option value="10">Octobre</option>
                                    <option value="11">Novembre</option>
                                    <option value="12">Décembre</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="cc_exp_yr" formControlName="exp_annee">
                                    <option value="01">2021</option>
                                    <option value="02">2022</option>
                                    <option value="03">2023</option>
                                    <option value="04">2024</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ccv" class="col-md-12">Card CCV</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" maxlength="3" formControlName="ccv"
                                    placeholder="000">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="montant" class="control-label">Montant du don</label>
                            <input formControlName="montant" name="montant" type="text" class="form-control"
                                id="montant" required placeholder="Montant">
                            <span class="px-2 small text-muted font-weight-bold text-muted">Veuillez entrer un montant
                                valide, chien.</span>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-xs-right text-center">
                                <button type="button" class="btn btn-secondary" (click)="onReset(f)">Cancel</button>
                                <button id="send-button" type="submit" class="btn btn-primary ml-1"
                                    [disabled]="f.invalid">Submit</button>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </form>
        </div>
    </div>
</div>