body{
    padding:25px;
}

input:focus{
     outline: none;
 }
 
 form{
     margin-top: 199px;
     width: 35%;
     margin-left:auto;
     margin-right:auto;
     padding:50px;
     background:whitesmoke;
     border-radius:5px;
     position:relative;
     font-family: 'Libre Franklin', sans-serif;
 }

 body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
      top: 0;
    /* The image used */
    background-image: url("../../assets/bg.jpg");
  
    /* Full height */
    height: 100%; 
    min-height: 888px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }