$marron: #7e5835;
$vert: #629e2d;
$background-color: #CDF1E3;

body{
    padding:25px;
}

input:focus{
     outline: none;
 }
 
 form{
     margin-top: 112px;
     //width: 35%;
     margin-left:auto;
     margin-right:auto;
     padding:50px;
     background:whitesmoke;
     border-radius:5px;
     position:relative;
     font-family: 'Libre Franklin', sans-serif;
 }

 body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    background-image: url("../../assets/img/foret1.jpg");
    top: 0;
    background-color: $marron;
    height: 100%; 
    min-height: calc(100vh - 0px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-don {
    margin-bottom: 10%;
}