<div class="bg">

    <div style="display:flex;width:100%;">
      <form action="#" method="post">
        <h2>FAIRE UN DON</h2>
        <p class="amount">
          <label for="usd">MONTANT :</label>
          <input type="radio" name="usd" id="usd" checked="">
          1 €
          <input type="radio" name="usd" id="usd">
          5 €
          <input type="radio" name="usd" id="usd">
          10 €</p>
        <p class="type">
          <label for="type">TYPE :</label>
          <input type="radio" name="time" id="type" checked="">
          Une seule fois
          <input type="radio" name="time" id="type">
          Mensuel
          <input type="radio" name="time" id="type">
          Annuel <br>
        </p>
        <h5>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
        </h5>
        <h4>
          <select>
            <option>I Want To Donate For 1</option>
            <option>I Want To Donate For 2</option>
            <option>I Want To Donate For 3</option>
          </select>
        </h4>
        <input type="submit" value="JE DONNE">
      </form>
    </div>



</div>