.login {
    height: calc(100vh - 3.5rem);
    
    .form-signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 500px;
        padding: 15px;
        margin: auto;
    }
}
