.form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    form{
        width: 50%;
        border: 1px black solid;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-subject{
            width: 100%;
        }
        textarea{
            max-height: 250px;
        }
    }
}