$marron: #7e5835;
$vert: #629e2d;
$background-color: #cdf1e3;

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.navbar {
  background-color: #f8fbe8;
}

.nav-link {
  color: $marron !important;
  font-family: Lora;
  font-size: 20px;
}

.right-button {
  color: $marron;
  border-color: $marron;
}

footer {
  background-color: #f8fbe8;
}
