body {
  min-height: 100vh;
}
}
$marron: #7e5835;
$vert: #629e2d;
$background-color: #CDF1E3;

body {
  background-color: #ffffff;
}

.navbar {
  background-color: #F8FBE8;
}

.nav-link{
  color: $marron !important;
  font-family: Lora;
  font-size: 20px;
}

.right-button {
  color: $marron;
  border-color: $marron;
}

footer {
  background-color: #F8FBE8;
}

