$marron: #7e5835;
$vert: #629e2d;
$background-color: #cdf1e3;

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.navbar {
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.navbar + div {
  padding-top: 200px;
}

.nav-link {
  color: $marron !important;
  font-family: Lora;
  font-size: 20px;
}

.right-button {
  color: $marron;
  border-color: $marron;
}

footer {
  background-color: white;
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
}

.navbar-toggler {
  background-color: $marron;
}

.icon-navbar {
  margin-top: 5px !important;
  color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-collapse {
  text-align: center;
  }
  .form-inline {
    justify-content: center;
  }
}
  

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .navbar-collapse {
    text-align: center;
  }
} 

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
}