$marron: #7e5835;
$vert: #629e2d;
$background-color: #CDF1E3;

.first-container {
  background-color: #F8FBE8;
}

.button-object {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-object {
  background-image: url("../../assets/img/objet-inutilise.jpg");
  opacity: 1;
}

.button-give-object {
  color: #ffffff;
  border: 2px solid white;
  font-weight: bold;
  font-family: Lora;
  font-size: 20px;
}

.left-container {
  background-color: #679F5A;
}

.right-container {
  background-color: $marron;
}

.button-money {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-money {
  background-image: url("../../assets/img/faire_un_don.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.button-give-money {
  color: #ffffff;
  border: 2px solid white;
  font-weight: bold;
  font-family: Lora;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .left-container {
    width: 49% !important;
    margin-right: 2%;
  }
  .right-container {
    width: 49% !important;
  }
  .display-5{
    font-size: 25px;
  }
  .container-object {
    width: 100% !important;
  }
  .container-money {
    width: 100% !important;
  }
  .button-give-object {
    width: 80%;
  }
  .button-give-money {
    width: 80%;
  }
  .first-container {
    margin-top: 100px !important;
  }
}


  
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

} 

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
}