$marron: #7e5835;
$vert: #629e2d;
$background-color: #CDF1E3;

.first-container {
  background-color: #F8FBE8;
}

.button-object {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-object {
  background-image: url("../../assets/img/objet-inutilise.jpg");
  opacity: 1;
}

.button-give-object {
  color: #ffffff;
  border: 2px solid white;
  font-weight: bold;
  font-family: Lora;
  font-size: 20px;
}

.left-container {
  background-color: #679F5A;
}

.right-container {
  background-color: $marron;
}

.button-money {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-money {
  background-image: url("../../assets/img/faire_un_don.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.button-give-money {
  color: #ffffff;
  border: 2px solid white;
  font-weight: bold;
  font-family: Lora;
  font-size: 20px;
}
