.register {
    min-height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-control {
        &:not(select) {
            padding: 1.5rem 0.5rem;
        }
        &::placeholder {
            color: #ccc;
            font-weight: bold;
            font-size: 0.9rem;
        }
        &:focus {
            box-shadow: none;
        }
    }
}
